<main class="house-conainer">
  <img class="house-container-image" src="assets/img/modern-house-3d-model-max-obj-3ds-fbx.png" alt="">
  <div class="house-container-info">
    <div class="house-info-title">Недвижимость</div>
    <div class="house-info-adres">Адрес<div class="house-class-name-adres">Brenburger strasse 15A</div></div>
    <div class="house-info-content">
      <div class="house-info-pos house-info-class">Класс <div class="house-class-name">Премиум</div></div>
      <div class="house-info-pos house-info-type">Тип<div class="house-class-name">Особняк</div></div>
      <div class="house-info-pos house-info-users">Владелец<div class="house-class-name">Brendan Hines</div></div>
      <div class="house-info-pos house-info-gos-price">Гос.Цена<div class="house-class-name">$1.500.000</div></div>
      <div class="house-info-pos house-info-nalog">Налог<div class="house-class-name">$400/ч</div></div>
      <div class="house-info-pos house-info-date-buy">Дата приобретения<div class="house-class-name">18.11.2020</div></div>
    </div>
    <img class="house-container-image-lock" src="assets/img/Ellipse-2.png" alt="">
    <img class="house-container-image-lock-vector" src="assets/img/Vector.png" alt="">
    <div class="house-info-door-open">Открыто</div>
  </div>
  <div class="house-sklad-info">
      <div class="house-sklad-info-contant">
        <div class="house-sklad-info-box"> 
          <div class="house-sklad-info-img">
            <img class="house-safe-img" src="assets/img/Ellipse-3.png" alt="">
            <img class="house-safe-img" src="assets/img/Ellipse-5.png" alt="">
            <img class="house-safe-img" src="assets/img/Ellipse-4.png" alt="">
            <img class="house-safe-img safe-vector-3" src="assets/img/Vector3.png" alt="">
            <img class="house-safe-img safe-elips-6" src="assets/img/Ellipse-6.png" alt="">
            <img class="house-safe-img safe-vector-4" src="assets/img/Vector4.png" alt="">
        </div>
        <div class="house-safe-name">Сейф</div>
        <div class="box-sklad-safe house-safe-quantity">10/10</div>
        </div>
        <div class="house-sklad-info-box"> 
          <div class="house-sklad-info-img">
            <img class="house-safe-img" src="assets/img/Ellipse-3.png" alt="">
            <img class="house-safe-img" src="assets/img/Ellipse-5.png" alt="">
            <img class="house-safe-img fridge-elipse-7" src="assets/img/Ellipse-7.png" alt="">
            <img class="house-safe-img fridge-vector-6" src="assets/img/Vector6.png" alt="">
            <img class="house-safe-img fridge-elips-6" src="assets/img/Ellipse-6.png" alt="">
            <img class="house-safe-img fridge-vector-4" src="assets/img/Vector5.png" alt="">
        </div>
        <div class="house-fridge-name">Холодильник</div>
        <div class="box-sklad-safe house-fridge-quantity">24/60</div>
        </div>
        <div class="house-sklad-info-box"> 
          <div class="house-sklad-info-img">
            <img class="house-safe-img" src="assets/img/Ellipse-3.png" alt="">
            <img class="house-safe-img" src="assets/img/Ellipse-5.png" alt="">
            <img class="house-safe-img wardrobe-elipse-8" src="assets/img/Ellipse-8.png" alt="">
            <img class="house-safe-img wardrobe-vector-7" src="assets/img/Vector7.png" alt="">
            <img class="house-safe-img wardrobe-elips-6" src="assets/img/Ellipse-6.png" alt="">
            <img class="house-safe-img wardrobe-vector-4" src="assets/img/Vector4.png" alt="">
          </div>
          <div class="house-wardrobe-name">Шкаф</div>
          <div class="box-sklad-safe house-wardrobe-quantity">18/32</div>
        </div>
      </div>
      <div class="house-buttons">
        <div class="house-buttons-arenda">
          <img class="house-buttons-img" src="assets/img/Vector8.png" alt="">
          <a href="#">Аренда</a>
        </div>
        <div class="house-buttons-door">
          <img class="house-buttons-img" src="assets/img/Vector9.png" alt="">
          <a href="#">Открыть</a>
        </div>
        <div class="house-buttons-sell">
          <img class="house-buttons-img" src="assets/img/Vector10.png" alt="">
          <a href="#">Продать</a>
        </div>
      </div>
      <div class="house-buttons-enter">Войти в мой дом</div>
  </div>
  <div class="close-house-content"><img src="assets/img/Vector2.png" alt=""></div>
</main>